<!-- <app-inlline-editing></app-inlline-editing>

 <br>
<br>
<app-kendo-ddl></app-kendo-ddl>

<br>
<br> 
<app-custom-editing></app-custom-editing> -->

<table>
    <tr>
        <td>
            <div>
                <table class=" nav nav-tabs nav-justified nav-divider">
                    <tr>
                        <td class="col-md-3"><a routerLink="InllineEditing">Inlline Editing</a></td>
                        <td class="col-md-3"><a routerLink="HideColumn">Hide Column</a></td>
                        <td class="col-md-3"><a routerLink="KendoDDL">Kendo DDL</a></td>

                    </tr>
                </table>
            </div>
        </td>
    </tr>
    <tr><td><router-outlet></router-outlet></td></tr>
</table>